.selector{
  width:40px;
  background-color:#45faa2;
  border-radius:4px;
  height:40px;
  margin-right:20px;
  display:inline-block;
  position:absolute;
}

.color-selector{
  width:40px;
  border-radius:4px;
  height:40px;
  margin-right:20px;
  display:inline-block;
  position:absolute;
}