<%= form_for [@shoe] do |f| %>

  <% if @shoe.errors.any? %>
    <div class = "error_messages">
    <h3>Unable to create shoe:</h3>
    <ul>

      <% for message in @shoe.errors.full_messages %>
              <div class="alert alert-error">   
              <strong>Error! </strong><%=message%>  
              </div>  
      <% end %>
    </ul>
  <% end %>
  <div class="parts-select" style="width:60%;background-color:#444444;border-radius:8px;height:40px;margin-top:20px;position:relative">
  <div class="selector" id="select1" style="left:160px;"></div>
  <div class="selector" id="select2" style="left:220px"></div>
  <div class="selector" id="select3" style="left:280px"></div>
  <div class="selector" id="select4" style="left:340px"></div>
  <div class="selector" id="select5" style="left:400px"></div>
  </div>
  <br>
  <div class = "customize_container">
    <div class="shoe-preview" style="width:40%;display:inline-block;margin-left:5%;height:400px;position:relative">
    <div id="dvLoading"></div>
    <img src="/assets/shoe/b0.png" class="part" id="part1" style="height:400px;margin-top:10px;position:absolute">
    <img src="/assets/shoe/c0.png" class="part" id="part2" style="height:400px;margin-top:10px;position:absolute">
    <img src="/assets/shoe/d0.png" class="part" id="part3" style="height:400px;margin-top:10px;position:absolute">
    <img src="/assets/shoe/e0.png" class="part" id="part4" style="height:400px;margin-top:10px;position:absolute">
    <img src="/assets/shoe/f0.png" class="part" id="part5" style="height:400px;margin-top:10px;position:absolute">
    </div>
    <div class="customize-elements" style="width:30%;display:inline-block;height:400px;border-radius:4px;position:relative;color:#333333;margin-left:24.5%">
    <div class="customize-title" style="position:absolute;left:20px;top:20px">Customize Color</div>
     <div id="color1snap"><img src="/assets/swatch/z0.png" class ="color-selector" id="color1" style="left:40px;top:60px;"></div>
     <div id="color2snap"><img src="/assets/swatch/z0.png" class ="color-selector" id="color2" style="left:100px;top:60px;"></div>
     <div id="color3snap"><img src="/assets/swatch/z0.png" class ="color-selector" id="color3" style="left:160px;top:60px;"></div>
     <div id="color4snap"><img src="/assets/swatch/z0.png" class ="color-selector" id="color4" style="left:40px;top:120px;"></div>
    </div>
  </div>
 
  <div class="panel panel-success custom_create" id="new_submit" style="margin-left:1%;vertical-align:top;">

   <center> <div class="action">
    <%= button_tag(type: "submit", class: "btn btn-success create") do %>
    <i class="icon-leaf"></i> Create Shoe
    <% end %>
  </div></center></div>
 <%end%>
<script>
var stcolor = "#468847"
var selectcolor = "#3a87ad"
$(".customize-elements").hide();
// $(document).ready(function (){
// var part1 = new Image()
// part1.id = "part1";
// var part2 = new Image()
// part2.id = "part2";
// var part3 = new Image()
// part3.id = "part3";
// var part4 = new Image()
// part4.id = "part4";
// var part5 = new Image()
// part5.id = "part5";
// });
 // $(document).ready(function (){
var selection = 0;

function selectorHover(number) {
   $('#part'+number).animate({opacity:"0.5"}, 200);
   $('#part'+number).animate({width:"50px",height:"50px",left:"155px",top:"-5px"}, 200);
}

$(document).delegate('#select1', 'mouseover', function() {
   $('#part1').animate({opacity:"0.5"}, 200);
   $(this).animate({width:"50px",height:"50px",left:"155px",top:"-5px"}, 200);
});
$(document).delegate('#select1', 'mouseout', function() {
   $('#part1').animate({opacity:"1"}, 200);
   $(this).animate({width:"40px",height:"40px",left:"160px",top:"0px"}, 200);
});

$(document).delegate('#select2', 'mouseover', function() {
   $('#part2').animate({opacity:"0.5"}, 200);
   $(this).animate({width:"50px",height:"50px",left:"215px",top:"-5px"}, 200);
});
$(document).delegate('#select2', 'mouseout', function() {
   $('#part2').animate({opacity:"1"}, 200);
   $(this).animate({width:"40px",height:"40px",left:"220px",top:"0px"}, 200);
});

$(document).delegate('#select3', 'mouseover', function() {
   $('#part3').animate({opacity:"0.5"}, 200);
   $(this).animate({width:"50px",height:"50px",left:"275px",top:"-5px"}, 200);
});
$(document).delegate('#select3', 'mouseout', function() {
   $('#part3').animate({opacity:"1"}, 200);
   $(this).animate({width:"40px",height:"40px",left:"280px",top:"0px"}, 200);
});

$(document).delegate('#select4', 'mouseover', function() {
   $('#part4').animate({opacity:"0.5"}, 200);
   $(this).animate({width:"50px",height:"50px",left:"335px",top:"-5px"}, 200);
});
$(document).delegate('#select4', 'mouseout', function() {
   $('#part4').animate({opacity:"1"}, 200);
   $(this).animate({width:"40px",height:"40px",left:"340px",top:"0px"}, 200);
});

$(document).delegate('#select5', 'mouseover', function() {
   $('#part5').animate({opacity:"0.5"}, 200);
   $(this).animate({width:"50px",height:"50px",left:"395px",top:"-5px"}, 200);
});
$(document).delegate('#select5', 'mouseout', function() {
   $('#part5').animate({opacity:"1"}, 200);
   $(this).animate({width:"40px",height:"40px",left:"400px",top:"0px"}, 200);
});

$(document).delegate('#color1', 'mouseover', function() {
   $('#part'+selection).animate({opacity:"0.5"}, 200);
   $(this).animate({width:"50px",height:"50px",left:"35px",top:"55px"}, 200);

});
$(document).delegate('#color1', 'mouseout', function() {
   $('#part'+selection).finish();
   $('#part'+selection).animate({opacity:"1"}, 200);
   $(this).animate({width:"40px",height:"40px",left:"40px",top:"60px"}, 200);
});

$(document).delegate('#color2', 'mouseover', function() {
   $('#part'+selection).animate({opacity:"0.5"}, 200);
   $(this).animate({width:"50px",height:"50px",left:"95px",top:"55px"}, 200);

});
$(document).delegate('#color2', 'mouseout', function() {
   $('#part'+selection).finish();
   $('#part'+selection).animate({opacity:"1"}, 200);
   $(this).animate({width:"40px",height:"40px",left:"100px",top:"60px"}, 200);
});

$(document).delegate('#color3', 'mouseover', function() {
   $('#part'+selection).animate({opacity:"0.5"}, 200);
   $(this).animate({width:"50px",height:"50px",left:"155px",top:"55px"}, 200);

});
$(document).delegate('#color3', 'mouseout', function() {
   $('#part'+selection).finish();
   $('#part'+selection).animate({opacity:"1"}, 200);
   $(this).animate({width:"40px",height:"40px",left:"160px",top:"60px"}, 200);
});

$("#color1snap").click(function() {
Pixastic.revert($("#part"+selection)[0])
});

$("#color2snap").click(function() {
Pixastic.revert($("#part"+selection)[0]);
Pixastic.process($("#part"+selection)[0], "coloradjust", {red:0.1,green:0.0,blue:0});
});

$("#color3snap").click(function() {
Pixastic.revert($("#part"+selection)[0]);
Pixastic.process($("#part"+selection)[0], "coloradjust", {red:0.05,green:0.0,blue:0.05});
});

$("#color4snap").click(function() {
Pixastic.revert($("#part"+selection)[0]);
Pixastic.process($("#part"+selection)[0], "coloradjust", {red:0.05,green:0.05,blue:0.02});
});

$( "#select1" ).click(function() {
  $(".customize-elements").finish();
  $(".customize-title").finish();

  selection = 1;
  $(this).css({backgroundColor:selectcolor}, 200);
  $(".customize-elements").fadeOut(800);
  setTimeout(function() {
        $(".customize-title").html("Customize Color - Heel");
}, 780);
  $(".customize-elements").delay(200).fadeIn(1000);

  $( "#select2" ).css({backgroundColor:stcolor}, 200);
  $( "#select3" ).css({backgroundColor:stcolor}, 200);
  $( "#select4" ).css({backgroundColor:stcolor}, 200);
  $( "#select5" ).css({backgroundColor:stcolor}, 200);
  Pixastic.revert($("#color2")[0]);
  Pixastic.revert($("#color3")[0]);
  Pixastic.revert($("#color4")[0]);
  Pixastic.process($("#color2")[0], "coloradjust", {red:0.1,green:0,blue:0});
  Pixastic.process($("#color3")[0], "coloradjust", {red:0.05,green:0,blue:0.05});
  Pixastic.process($("#color4")[0], "coloradjust", {red:0.05,green:0.05,blue:0.02});
});

$( "#select2" ).click(function() {
  selection = 2;
  $(".customize-elements").fadeOut(800);
  $(".customize-elements").delay(200).fadeIn(1000);
  setTimeout(function() {
        $(".customize-title").html("Customize Color - Main");
}, 780);
  $(this).css({backgroundColor:selectcolor}, 200);
  $( "#select1" ).css({backgroundColor:stcolor}, 200);
  $( "#select3" ).css({backgroundColor:stcolor}, 200);
  $( "#select4" ).css({backgroundColor:stcolor}, 200);
  $( "#select5" ).css({backgroundColor:stcolor}, 200);
  Pixastic.revert($("#color2")[0]);
  Pixastic.revert($("#color3")[0]);
  Pixastic.revert($("#color4")[0]);
  Pixastic.process($("#color2")[0], "coloradjust", {red:0.1,green:0,blue:0});
  Pixastic.process($("#color3")[0], "coloradjust", {red:0.05,green:0,blue:0.05});
  Pixastic.process($("#color4")[0], "coloradjust", {red:0.05,green:0.05,blue:0.02});

});

$( "#select3" ).click(function() {
  $(".customize-elements").finish();
  $(".customize-title").finish();
  selection = 3;
  $(".customize-elements").fadeOut(800);
  $(".customize-elements").delay(200).fadeIn(1000);
  setTimeout(function() {
        $(".customize-title").html("Customize Color - Front");
}, 780);
  $(this).css({backgroundColor:selectcolor}, 200);
  $( "#select1" ).css({backgroundColor:stcolor}, 200);
  $( "#select2" ).css({backgroundColor:stcolor}, 200);
  $( "#select4" ).css({backgroundColor:stcolor}, 200);
  $( "#select5" ).css({backgroundColor:stcolor}, 200);
  Pixastic.revert($("#color2")[0]);
  Pixastic.revert($("#color3")[0]);
  Pixastic.revert($("#color4")[0]);
  Pixastic.process($("#color2")[0], "coloradjust", {red:0.1,green:0,blue:0});
  Pixastic.process($("#color3")[0], "coloradjust", {red:0.05,green:0,blue:0.05});
  Pixastic.process($("#color4")[0], "coloradjust", {red:0.05,green:0.05,blue:0.02});
});

$( "#select4" ).click(function() {
  $(".customize-elements").finish();
  $(".customize-title").finish();
  selection = 4;
  $(".customize-elements").fadeOut(800);
  $(".customize-elements").delay(200).fadeIn(1000);
  setTimeout(function() {
        $(".customize-title").html("Customize Color - Toe");
}, 780);
  $(this).css({backgroundColor:selectcolor}, 200);
  $( "#select1" ).css({backgroundColor:stcolor}, 200);
  $( "#select2" ).css({backgroundColor:stcolor}, 200);
  $( "#select3" ).css({backgroundColor:stcolor}, 200);
  $( "#select5" ).css({backgroundColor:stcolor}, 200);
  Pixastic.revert($("#color2")[0]);
  Pixastic.revert($("#color3")[0]);
  Pixastic.revert($("#color4")[0]);
  Pixastic.process($("#color2")[0], "coloradjust", {red:0.1,green:0,blue:0});
  Pixastic.process($("#color3")[0], "coloradjust", {red:0.05,green:0,blue:0.05});
  Pixastic.process($("#color4")[0], "coloradjust", {red:0.05,green:0.05,blue:0.02});
});

$( "#select5" ).click(function() {
  $(".customize-elements").finish();
  $(".customize-title").finish();
  selection = 5;
  $(".customize-elements").fadeOut(800);
  $(".customize-elements").delay(200).fadeIn(1000);
  setTimeout(function() {
        $(".customize-title").html("Customize Color - Sole");
}, 780);
  $(this).css({backgroundColor:selectcolor}, 200);
  $( "#select1" ).css({backgroundColor:stcolor}, 200);
  $( "#select2" ).css({backgroundColor:stcolor}, 200);
  $( "#select3" ).css({backgroundColor:stcolor}, 200);
  $( "#select4" ).css({backgroundColor:stcolor}, 200);
  Pixastic.revert($("#color2")[0]);
  Pixastic.revert($("#color3")[0]);
  Pixastic.revert($("#color4")[0]);
  Pixastic.process($("#color2")[0], "coloradjust", {red:0.1,green:0,blue:0});
  Pixastic.process($("#color3")[0], "coloradjust", {red:0.05,green:0,blue:0.05});
  Pixastic.process($("#color4")[0], "coloradjust", {red:0.05,green:0.05,blue:0.02});
});



</script>