<!DOCTYPE html>
<html>
<head>
  <title>Rogue</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/rogues-icon.png"/>
</head>
<body>
  <div class = "container">
  <%= yield %>
  </div>
</body>
</html>
